/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

a {
    text-decoration: none;
    color: #007bff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin-right: 10px;

}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

/* Header Styles */
h1 {
    margin: 20px 0;

}



/* Task List Styles */
.task-list {
    margin: 20px 0;
    padding: 0;
}

.task-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task-item i {
    margin-right: 5px;
}

/* User Profile Form Styles */
form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form textarea,
form button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Register and Login Pages Styles */
header {
    margin: 20px 0;
}

/* Edit Task Form Styles */
form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Tooltip Styles */
.task-item a[title]::after {
    content: attr(title);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}

.task-item a[title]:hover::after {
    opacity: 1;
    visibility: visible;
}
